/*
* Logo and image stylings
*/
.cornerLogo{
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  pointer-events: none;
  margin-right: 10px;
  margin-top: 10px;
}
.bin{
  position: absolute;
  bottom: 3%;
  left: 12%;
  width: 5%;
  pointer-events: none;
  margin-right: 10px;
  margin-top: 10px;
}
.undo{
  position: absolute;
  bottom: 3%;
  left: 15%;
  width: 2%;
  margin-right: 10px;
  margin-top: 10px;
}
img:hover{
  cursor:pointer;
}
.bottomCornerLogo{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.imgShadow{
    filter: drop-shadow(10px 5px 24px rgba(34, 34, 34, 0.1));
}