/*
* Logo and image stylings
*/
.cornerLogo{
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  pointer-events: none;
  margin-right: 10px;
  margin-top: 10px;
}
img:hover{
  cursor:pointer;
}
.bottomCornerLogo{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5%;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* body styling*/
body{
  padding: 0;
  border: 0;
  outline: 0;
  margin: -8px 0px 0px 0px;
  overflow-x:hidden;
}

/* block bar*/
.blockBoxBar{
  background-image: linear-gradient(lightskyblue, lightblue);
  background-size: 200px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: top;
  position: relative;
}
/* spacing inbetween blocks in side bar*/
.blockBR{
  height: 25pt;
  visibility: hidden;
}
.secBR{
  height: 40pt;
  visibility: hidden;
}
/* box holding the sidebar blocks*/
.blockBox{
  margin-left: 15px;
}
/* base sidebar item style*/
.itemSidebar{
  width: 150px;
  height: 30px;
  position: absolute;
  margin-top: 10px;
  z-index: 1;
  box-shadow: 5px 5px 24px -5px rgba(0,0,0,0.33);
}
/* input field styling */
input {
  position: relative;
  margin-left: 5px;
  width: 25px;
  height:16px;
  outline: none;
  background-color: white;
  border: 0;
  border-radius:3px;
  text-align: center;
}
/* hides up-down arrows on number field input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* in-block text styling */
.blockText{
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
  font-size: 18px;
  text-align: left;
  margin-top: 7px;
  margin-left: 5px;
  color: white;
}

.secText{
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
  font-size: 18px;
  text-align: left;
  color: darkslateblue;
  text-shadow: 1px 1px 20px darkblue;
}

/* specific dropzone styling */
.dropzone {
  background-color: transparent;
  border: dashed 2px transparent;
  height: 30px;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

/*
    Specific block styling
    ! Every block-type needs an itemclone{type} equivalent!
*/
.blueBox{
    width: 75px;
    background-color: mediumslateblue;
}

.itemcloneblueBox {
  background-color: cornflowerblue;
}

.greenBar{
  background-color: green;
}

.itemclonegreenBar{
  background-color: lightgreen;
}

.orangeBar{
  background-color: #F8882B;
}

.itemcloneorangeBar{
  background-color: #FDAD6B;
}

.yellowBox{
  width: 75px;
  background-color: #ffdf00;
}

.itemcloneyellowBox{
  background-color: #f6e15f;
}

.purpleBar{
  background-color: rebeccapurple;
  height: 60px;
}
.itemclonepurpleBar{
  background-color: mediumpurple;
}