/*
* Logo and image stylings
*/
.cornerLogo{
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  pointer-events: none;
  margin-right: 10px;
  margin-top: 10px;
}
img:hover{
  cursor:pointer;
}
.bottomCornerLogo{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5%;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* body styling*/
body{
  padding: 0;
  border: 0;
  outline: 0;
  margin: -8px 0px 0px 0px;
  overflow-x:hidden;
}

/* block bar*/
.blockBoxBar{
  background-image: linear-gradient(lightskyblue, lightblue);
  background-size: 150px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: top;
  position: relative;
}
/* spacing inbetween blocks in side bar*/
.blockBR{
  height: 50pt;
  visibility: hidden;
}
/* box holding the sidebar blocks*/
.blockBox{
  margin-left: 15px;
}
/* base sidebar item style*/
.itemSidebar{
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 10px;
  z-index: 1;
}
/* in-block text styling */
.blockText{
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
  font-size: 18px;
  text-align: center;
  margin-top: 7px;
  color: white;
}

/* specific dropzone styling */
.dropzone {
  background-color: transparent;
  border: dashed 2px transparent;
  height: 50px;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

/*
    Specific block styling
    ! Every block-type needs an itemclone{type} equivalent!
*/
.blueBox{
    background-color: mediumslateblue;
}

.itemcloneblueBox {
  width: 50px;
  height: 50px;
  background-color: cornflowerblue;
}

.greenBar{
  width: 100px;
  background-color: green;
}

.itemclonegreenBar{
  width: 100px;
  height: 50px;
  background-color: lightgreen;
}