<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>interactJS prototype</title>
    <link rel="stylesheet" href="../static/interactStylesheet.css"/>
    <link rel="shortcut icon" href="../static/Images/Hujo-Smars-icon.png">
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="../static/blockInteract.js"></script>
</head>
<body>
{#    <img src="../static/Images/Hujo_Logo.png" alt="Hujo logo" class="cornerLogo"/>#}
    <div class="container">
        <div class="itemSidebar blueBox"></div>
        <div class="itemSidebar greenBar"></div>
    </div>
</body>
</html>