<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>interactJS prototype</title>
    <link rel="stylesheet" href="../static/interactStylesheet.css"/>
    <link rel="stylesheet" href="../static/alerts.css"/>
    <link rel="shortcut icon" href="../static/Images/Hujo-Smars-icon.png">
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/blockInteract.js"></script>
    {#    including fonts    #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Red+Hat+Mono:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <img src="../static/Images/Hujo_Logo.png" alt="Hujo logo" class="cornerLogo"/>
    <div class="blockBoxBar">
        <div class="container">
            <div class="blockBox">
                <br>
                <div class="secText">Events</div>
                <div class="itemSidebar yellowBox">
                    <div class="blockText">Start</div>
                </div>
                <hr class="blockBR">
                {# no-dropzone class used for blocks that have no dropzone#}
                <div class="itemSidebar yellowBox can-drop no-dropzone">
                    <div class="blockText">End</div>
                </div>
                {# section breaks can be used for wider spacing between blocks #}
                <hr class="secBR" />
                {# and can have additional section Text #}
                <div class="secText">Movement</div>
                {# can-drop class used for blocks that can be placed in dropzone#}
                <div class="itemSidebar greenBar can-drop">
                    <div class="blockText">Drive Forward</div>
                </div>
                <hr class="blockBR" />
                {# can-drop class used for blocks that can be placed in dropzone#}
                <div class="itemSidebar greenBar can-drop">
                    <div class="blockText">Drive Backward</div>
                </div>
                <hr class="blockBR" />
                {# can-drop class used for blocks that can be placed in dropzone#}
                <div class="itemSidebar greenBar can-drop">
                    <div class="blockText">Stop both motors</div>
                </div>
                <hr class="secBR" />
                <div class="secText">Input field</div>
                {# input field for blocks that require additional input. Initially disabled  #}
                <div class="itemSidebar orangeBar can-drop has-input">
                    <div class="blockText">Wait for sec<input oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="3" type="number" id="delay" name="delay" placeholder="3" disabled>
                    </div>
                </div>
                <hr class="blockBR" />
                {# input field for blocks that require additional input. Initially disabled  #}
                <div class="itemSidebar orangeBar can-drop has-input">
                    <div class="blockText">Set speed to<input oninput="this.value=this.value.slice(0,this.maxLength)"  maxlength="3" type="number" id="speed" name="speed" placeholder="50" disabled>
                    </div>
                </div>
                <hr class="secBR"/>
                <div class="secText">Control</div>
                <div class="itemSidebar purpleBar can-drop control-flow has-input">
                    <div class="blockText">Repeat<input oninput="this.value=this.value.slice(0,this.maxLength)"  maxlength="3" type="number" id="repeat" name="repeat" placeholder="10" disabled></div>
                </div>
            </div>
            <div class="networkField" id="network">
                {#blocks dynamically get added here#}
            </div>
        </div>
    </div>

   <img class="bottomCornerLogo" src="../static/Images/Download-icon.png" alt="Download Icon"
        onclick="downloadNetwork()">

    <div class="alert hidden" id="alert">
        <span class="closebtn" id="alertClose" onclick="this.parentElement.classList.add('hidden'); this.style.pointerEvents='none'">&times;</span>
            <div id="alertbox">

            </div>
    </div>
    <script src="../static/networkDownloader.js"></script>
</body>
</html>